/*Custom Styles*/

.features-icon img{
    max-width: 50px;
}

.btn-mod, a.btn-mod{
    background: linear-gradient(to right,#0045cf 0%,#0061ff 50%,#0045cf 100%);
    color: #fff;
    background-size: 200% auto;
}

.inner-nav ul li a{
    /* color: #0045cf; */
    color: #468C00;
    font-weight: 700;
}

.section-title{
    color: #0061ff;
}

.bg-dark{
    background-color: #0045cf;
}

.home-text h2, .section-title{
    font-weight: 500;
    /* color: #0061ff; */
    background: linear-gradient(to right, #0045cf 0%, #468C00 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.team-item-descr p{
    text-transform: none;
}